@using vgoyun.idal.models
@{
    ViewBag.Title = "维构全景-全景源码_720全景_vr全景加盟平台";
    ViewBag.ActiveMenu = "Industry";
    ViewBag.SpaceLayout = true;
}

@*头部样式与脚本*@
@section head {
    <link rel="stylesheet" type="text/css" href="/css/banner/swiper-3.4.2.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1178410_rk490ye4d8n.css">
    <link rel="stylesheet" type="text/css" href="/css/3d/index.css" />
    <script src="/js/banner/swiper-3.4.2.min.js" type="text/javascript"></script>
    <script src="/js/wow.min.js" type="text/javascript" charset="utf-8"></script>
}

<div class="banner">
    <img src="/images/3d/3Dbanner1.jpg" alt="">
    <div class="banner-about">
        <h2>空间感</h2>
        <p>让全景漫游步步为 "营"</p>
        <p>维构3D实景一站式解决方案</p>
    </div>
</div>
<div class="wrap">
    <ul class="catalogue-list wow zoomInDown slow delay-1s">
        <li class=""><a href="#building"><i class="iconfont icon-fangchan"></i><span>房产建材</span></a></li>
        <li class=""><a href="#decorate"><i class="iconfont icon-jiaju"></i><span>家居装饰</span></a></li>
        <li class=""><a href="#resale"><i class="iconfont icon-dianshangyunying"></i><span>电商零售</span></a></li>
        <li class=""><a href="#hotel"><i class="iconfont icon-jiudian"></i><span>酒店名宿</span></a></li>
        <li class=""><a href="#exhibition"><i class="iconfont icon-fangdichan"></i><span>文化展会</span></a></li>
    </ul>
</div>
<!--房产建材 -->
<div class="module-con con1 " id="building">
    <div class="wrap">
        <div class="module-building-content module-container">
            <div class="text-con wow bounceInLeft slow">
                <h4>房产建材</h4>
                <div>
                    <i class="iconfont icon-D"></i>
                    <p>虚拟3D实景看房，随时随地体验空间格局</p>
                </div>
                <div>
                    <i class="iconfont icon-gaoxiao"></i>
                    <p>高效看房 满意，降低成本</p>
                </div>
            </div>
            <div class="pic-con wow bounceInRight slow ">
                <img src="/images/3d/ap1.png" alt="">
            </div>
        </div>
    </div>
</div>

<!--家居装饰 -->
<div class="module-con con2 " id="decorate">
    <div class="wrap">
        <div class="module-decorate-content module-container">
            <div class=" pic-con wow bounceInLeft slow ">
                <img src="/images/3d/ap2.png" alt="">
                <img src="/images/3d/ap3.png" alt="">
                <img src="/images/3d/ap4.png" alt="">
            </div>
            <div class="text-con wow bounceInRight slow">
                <h4>家居装饰</h4>
                <div>
                    <i class="iconfont icon-jilu"></i>
                    <p>3D实景全面记录阶段，全景透明化展示</p>
                </div>
                <div>
                    <i class="iconfont icon-snimicjingquedingwei"></i>
                    <p>精确感知空间大小，制定更好装修方案</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--电商零售 -->
<div class="module-con con3 " id="resale">
    <div class="wrap">

        <div class="module-resale-content module-container">
            <div class="text-con wow bounceInLeft slow" ">
                <h4>电商零售</h4>
                <div>
                    <i class="iconfont icon-xianshangguanggao"></i>
                    <p>线上体验3D实景购物</p>
                </div>
                <div>
                    <i class="iconfont icon-xianxiamendian"></i>
                    <p>促进零售行业线上线下融合</p>
                </div>
            </div>
            <div class="pic-con wow bounceInRight slow">
                <img src="/images/3d/ap5.png" alt="">
                <img src="/images/3d/ap6.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--酒店民宿 -->
<div class="module-con con4 " id="hotel">
    <div class="wrap">
        <div class="module-hotel-content module-container">
            <div class="pic-con wow bounceInLeft slow">
                <img src="/images/3d/ap7.png" alt="">
                <img src="/images/3d/ap8.png" alt="">
            </div>
            <div class="text-con  wow bounceInRight slow">
                <h4>酒店民宿</h4>
                <div>
                    <i class="iconfont icon-zan"></i>
                    <p>3D实景与现实房间高度吻合</p>
                </div>
                <div>
                    <i class="iconfont icon-jiudian1"></i>
                    <p>高品质房型在线预定</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--文化展会 -->
<div class="module-con con5" id="exhibition">
    <div class="wrap">

        <div class="module-exhibition-content module-container">
            <div class="text-con wow bounceInLeft slow">
                <h4>文化展会</h4>
                <div>
                    <i class="iconfont icon-wenwuguji"></i>
                    <p>展会现场数据资料永久保存</p>
                </div>
                <div>
                    <i class="iconfont icon-wenhuazhongxin"></i>
                    <p>利于传播促进文化产业发展</p>
                </div>
            </div>
            <div class="pic-con wow bounceInRight slow">
                <img src="/images/3d/ap9.png" alt="">
                <img src="/images/3d/ap10.png" alt="">
                <img src="/images/3d/ap11.png" alt="">
            </div>

        </div>
    </div>
</div>

@*底部脚本*@
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var mySwiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                speed: 1000,
                loop: true,
                autoplay: 10000,
                preventLinksPropagation: false,
                autoplayDisableOnInteraction: false,
                paginationClickable: true,
            })
        })

        //wow插件 页面滚动触发animated.css动画
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            new WOW().init();
        }

        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 100,
            mobile: true,
            live: true
        });
        wow.init();
    </script>
}