@{
    ViewBag.Title = "维构全景 | 系统购买";
    ViewBag.ActiveMenu = "Buy";
}


@*头部样式与脚本*@
@section head {
    <link rel="stylesheet" type="text/css" href="/css/module-qj.css?_t=20190212">
    <link rel="stylesheet" type="text/css" href="/css/banner/swiper-3.4.2.min.css" />
    <script src="/js/banner/swiper-3.4.2.min.js" type="text/javascript"></script>
}

<!--轮播-->
<div class="buy-banner">
    <div class="swiper-container" id="swiper4">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/module-qj/buy-banner1.jpg">
            </div>
            <div class="swiper-slide">
                <img src="/images/module-qj/buy-banner2.jpg">
            </div>
            <div class="swiper-slide">
                <img src="/images/module-qj/buy-banner3.jpg">
            </div>
            <div class="swiper-slide">
                <img src="/images/module-qj/buy-banner4.jpg">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<!--绝不隐藏任何差价-->
<div class="product-yx-module con1">
    <div class="wrap">
        <div class="title">
            <h1>一次购买，终身使用，我们绝不隐藏任何差价</h1>
        </div>
        <div class="buy1">
            <div class="buy-box">
                <img src="/images/module-qj/buy-1.png">
                <span class="buy-tit">维构全景标准版</span>
                <div class="buy-text">
                    <p>专为做全景为主的企业商家打造，功能完善，平台覆盖广泛 </p>
                    <div class="buy-body">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1107362563&amp;site=qq&amp;menu=yes" class="buy-but" target="_blank">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="buy-box">
                <img src="/images/module-qj/buy-2.png">
                <span class="buy-tit">维构全景旗舰版</span>
                <div class="buy-text">
                    <p>专为高端企业打造的一款全景系统，功能全面支持 </p>
                    <div class="buy-body">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1107362563&amp;site=qq&amp;menu=yes" class="buy-but" target="_blank">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="buy-box">
                <img src="/images/module-qj/buy-3.png">
                <span class="buy-tit">专属定制</span>
                <div class="buy-text">
                    <p>可为企业提供个性化功能支持，满足用户更多需求，可根据需求量身打造企业需要的全景系统平台 </p>
                    <div class="buy-body">
                        <img class="buy-img" src="/images/module-qj/buy-d.png">
                        <div class="buy-dhm">
                            <span>定制电话</span>
                            <span>400-0058-720</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--项目介绍-->
<div class="product-yx-module bg con2" id="buy2">
    <div class="wrap">
        <div class="title">
            <h1>项目介绍</h1>
        </div>
        <div class="buy2">
            <div class="buy-t clear">
                <div class="buy2-l">
                    <p>合作维构全景云平台，<strong>相当于您拥有了</strong></p>
                    <span class="span1">一个前沿的<strong>3D全景</strong>高科技团队</span>
                    <span class="span2">一套成熟的移动<strong>建站 </strong>、移动<strong>营销</strong>系统</span>
                    <span class="span3">一个可整合本地资源的<strong>四网合一</strong>的门户平台</span>
                </div>
                <div class="buy2-r">
                    <img src="/images/module-qj/buy4.png">
                </div>
            </div>
            <div class="buy2-b">维构不仅仅实现了VR全景的高效果展示、营销模块的深度整合，还将全景拍摄流程、全景制作流程、全景分享流程、全景整合流程、全景运营流程，做成了 <strong>流水线、傻瓜化 模式</strong>。只要您团队有稍微懂一点电子产品、网站博客系统的成员，就能顺利操作起来。</div>
        </div>
    </div>
</div>
<!--项目介绍-->
<div class="product-yx-module buy3 con3">
    <div class="wrap">
        <div class="title">
            <h1>项目介绍</h1>
        </div>
        <div class="con-title">
            <p class="dhm-1">见未来所见，先未来创新！</p>
            <div class="dhm-2"></div>
            <div class="dhm-3"><p>VR是下一个财富风口，让有识之士和我们一起开拓、缔造全国企业级VR全景市场，分享千亿级市场蛋糕！</p></div>
            <div class="dhm-4"></div>
        </div>
    </div>
</div>
<!--官方支持-->
<div class="product-yx-module con4">
    <div class="wrap">
        <div class="title">
            <h1>官方支持</h1>
        </div>
        <div class="buy4">
            <div class="buy4-l">
                <div class="buy4-l-b"><img src="/images/module-qj/buy4-l.png" alt=""></div>
                <div class="buy4-l-1 yj">
                    <span>维构支持</span>
                </div>
                <div class="buy4-l-2 yj">
                    <i></i>
                    <span>品牌运作及推广支持</span>
                </div>
                <div class="buy4-l-3 yj">
                    <i></i>
                    <span>培训系统支持</span>
                </div>
                <div class="buy4-l-4 yj">
                    <i></i>
                    <span>公司商务运营支持</span>
                </div>
                <div class="buy4-l-5 yj">
                    <i></i>
                    <span>客户资源提供</span>
                </div>
                <div class="buy4-l-6 yj">
                    <i></i>
                    <span>售后顾问支持</span>
                </div>
                <div class="buy4-l-7 yj">
                    <span>运营平台</span>
                </div>
            </div>
            <div class="buy4-r">
                <div class="buy4-r-b"></div>
                <div class="buy4-r-1"><span>合作对象</span></div>
                <div class="buy4-r-2"><span>技术<br>开发者</span></div>
                <div class="buy4-r-3"><span>第三方平台<br>接入者</span></div>
                <div class="buy4-r-4"><span>创业寻找<br>项目者</span></div>
                <div class="buy4-r-5"><span>全景拍摄<br>从业者</span></div>
            </div>
        </div>
    </div>
</div>
<!--版本功能展示-->
<div class="product-yx-module bg con5">
    <div class="wrap">
        <div class="title">
            <h1>版本功能展示</h1>
        </div>
        <div class="buy5-form" id="j-module-table">
            <div class="form-t">
                <span class="t1">板块</span>
                <span>功能介绍</span>
                <span>基础版</span>
                <span>高级版</span>
                <span>旗舰版</span>
                <span>至尊版</span>
            </div>
            <div class="form-t" id="j-module-t">
                <span class="t1">板块</span>
                <span>功能介绍</span>
                <span>基础版</span>
                <span>高级版</span>
                <span>旗舰版</span>
                <span>至尊版</span>
            </div>
            <div class="form-con clear">
                <div class="form-con-l">
                    <span class="t2" id="module-sec-01"><em>核心<br />板块</em></span>
                    <span class="t2" style="line-height: 250px; background: #d2eaff;">终端支持</span>
                    <span style="height: 70px; line-height: 70px; background: #ffd8d8;" id="module-sec-02">编辑器</span>
                    <span class="t2" style="height: 243px;" id="module-sec-03"><em>系统<br />功能</em></span>
                    <span style="height: 70px; line-height: 70px; background: #d2eaff;" id="module-sec-04">广告模块</span>
                    <span style="height: 182px; background: #ebfbf2;"></span>
                    <span class="t2" style="height: 182px; background: #fcdeff;" id="module-sec-05"><em style="margin-top: 56px;">营销<br />插件</em></span>
                    <span class="t2" style="height: 182px; background: #ebfbf2;" id="module-sec-06"><em style="margin-top: 56px;">行业解决<br />方案</em></span>
                </div>
                <div class="form-con-r">
                    <div class="f1">
                        <span>独立平台</span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="ls">阿里巴巴服务端</span>
                        <span class="ls">共享</span>
                        <span class="ls">共享</span>
                        <span class="ls">独立</span>
                        <span class="ls">独立</span>
                        <span>程序代码</span>
                        <span>维构托管</span>
                        <span>维构托管</span>
                        <span>独立</span>
                        <span>独立</span>
                        <span class="ls">授权更新</span>
                        <span class="ls">收费</span>
                        <span class="ls">收费</span>
                        <span class="ls">免费</span>
                        <span class="ls">免费</span>
                    </div>
                    <div class="f8">
                        <span>PC端（网站）</span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="ls">公众号</span>
                        <span class="yes ls"></span>
                        <span class="yes ls"></span>
                        <span class="yes ls"></span>
                        <span class="yes ls"></span>
                        <span>小程序</span>
                        <span class="no"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="ls">APP (Android / IOS)</span>
                        <span class="no ls"></span>
                        <span class="no ls"></span>
                        <span class="no ls"></span>
                        <span class="yes ls"></span>
                    </div>
                    <div class="f2">
                        <p class="hong">编辑器功能</p>
                        <p class="hong">支持</p>
                        <p class="hong">支持</p>
                        <p class="hong">支持</p>
                        <p class="hong">支持</p>
                    </div>
                    <div class="f3">
                        <span>权限管理</span>
                        <span>不支持代理</span>
                        <span>支持全国代理</span>
                        <span>支持全国代理</span>
                        <span>支持全国代理</span>
                        <span class="ls">广告投放</span>
                        <span class="ls">区域投放</span>
                        <span class="ls">跨区域、跨平台</span>
                        <span class="ls">跨区域、跨平台</span>
                        <span class="ls">跨区域、跨平台</span>
                        <span>广告监控效果</span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="ls">活动应用</span>
                        <span class="ls">应用较少</span>
                        <span class="ls">应用较多</span>
                        <span class="ls">应用较多</span>
                        <span class="ls">应用较多</span>
                    </div>
                    <div class="f4">
                        <p class="qls">地面广告</p>
                        <p class="qls">支持</p>
                        <p class="qls">支持</p>
                        <p class="qls">支持</p>
                        <p class="qls">支持</p>
                    </div>
                    <div class="f5">
                        <span>空中广告</span>
                        <span class="no"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="ls">文字滚动</span>
                        <span class="ls">支持</span>
                        <span class="ls">支持</span>
                        <span class="ls">支持</span>
                        <span class="ls">支持</span>
                        <span>动画展示</span>
                        <span class="no"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                    </div>
                    <div class="f6">
                        <span class="hong">红包</span>
                        <span class="no hong"></span>
                        <span class="yes hong"></span>
                        <span class="yes hong"></span>
                        <span class="yes hong"></span>
                        <span>卡券</span>
                        <span class="no"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="yes"></span>
                        <span class="hong">大转盘</span>
                        <span class="no hong"></span>
                        <span class="yes hong"></span>
                        <span class="yes hong"></span>
                        <span class="yes hong"></span>
                    </div>
                    <div class="f7">
                        <span>旅游行业</span>
                        <span>不支持</span>
                        <span>不支持</span>
                        <span>支持</span>
                        <span>支持</span>
                        <span class="ls">广告媒体</span>
                        <span class="ls">不支持</span>
                        <span>不支持</span>
                        <span class="ls">支持</span>
                        <span class="ls">支持</span>
                        <span>电商行业</span>
                        <span>不支持</span>
                        <span>不支持</span>
                        <span>支持</span>
                        <span>支持</span>
                    </div>
                </div>
            </div>
            <div class="form-b">
                <span class="t3" id="module-sec-07">深度定制</span>
                <span class="no hs"></span>
                <span class="no hs"></span>
                <span class="yes hs"></span>
                <span class="yes hs"></span>
            </div>
        </div>
        <div class="buy5-b">
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img b1"></div>
                    <div class="merit-con">
                        <h4>服务</h4>
                        <span>Service support</span>
                        <em>进入</em>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img b2"></div>
                    <div class="merit-con">
                        <h4>售后服务</h4>
                        <span>第一年免费提供售后服务次年起按需求续费</span>
                        <em>￥5000元/端/年</em>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img b3"></div>
                    <div class="merit-con">
                        <h4>功能开发</h4>
                        <span>按需对功能开发进行扩充、开发扩展根据工期报价</span>
                        <em>￥1500元/人/天</em>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img b4"></div>
                    <div class="merit-con">
                        <h4>前端页面定制</h4>
                        <span>按需对前端页面进行修改、定制根据工期报价</span>
                        <em>￥1000元/人/天</em>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-nav" id="j-module-nav">
            <a class="nav-item active">核心<br>模块</a>
            <a class="nav-item">编辑器<br>功能</a>
            <a class="nav-item">系统<br>功能</a>
            <a class="nav-item">广告<br>模块</a>
            <a class="nav-item">营销<br>插件</a>
            <a class="nav-item">行业解<br>决方案</a>
            <a class="nav-item">深度<br>定制</a>
            <i class="line"></i>
        </div>
    </div>
</div>
<!--合作流程-->
<div class="product-yx-module buy6 con6">
    <div class="wrap">
        <div class="title">
            <h1>合作流程</h1>
        </div>
        <div class="buy6-box">
            <img src="/images/module-qj/dhm1.png">
            <img src="/images/module-qj/dhm2.png">
            <img src="/images/module-qj/dhm3.png">
            <img src="/images/module-qj/dhm4.png">
            <img src="/images/module-qj/dhm5.png">
            <img src="/images/module-qj/dhm6.png">
            <img src="/images/module-qj/dhm7.png">
        </div>
    </div>
    <div class="buy6-bg"></div>

</div>

@section scripts{
    <script type="text/javascript">

        //轮播
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: '.swiper-pagination',
            autoplay: 5000,
            paginationClickable: true,
        })
        //项目介绍
        var d_t = $(window).height() - 100;
        var srcoll_h3 = $(".buy3").offset().top - d_t,
            srcoll_h4 = $(".buy4").offset().top - d_t,
            srcoll_h5 = $("#buy2").offset().top - d_t;
        $(window).bind("scroll", function (event) {
            var scroll_top = $(document).scrollTop();
            if (scroll_top >= srcoll_h3) {
                $(".buy3").addClass(".in");
            }
            if (scroll_top >= srcoll_h4) {
                // $(".buy4 .buy4-l").delay(100).addClass("zoomIn");
            }
            if (scroll_top >= srcoll_h5) {
                $("#buy2 .buy2-l").addClass("fadeInLeft");
                $("#buy2").addClass('in')
            }
        });
        $(function () {
            var d_t = $(window).height() - 100;
            $(".product-yx-module").each(function () {
                if ($(this).offset().top < d_t) {
                    $(this).addClass('in')
                }
            })
            var c1 = $(".con1").offset().top - d_t,
                c2 = $(".con2").offset().top - d_t,
                c3 = $(".con3").offset().top - d_t,
                c4 = $(".con4").offset().top - d_t,
                c5 = $(".con5").offset().top - d_t,
                c6 = $(".con6").offset().top - d_t;
            $(window).scroll(function (event) {
                var t = $(document).scrollTop();
                if (t >= c6) {
                    $(".con6").addClass('in')
                }
                if (t >= c5) {
                    $(".con5").addClass('in')
                }
                if (t >= c4) {
                    $(".con4").addClass('in')
                }
                if (t >= c3) {
                    $(".con3").addClass('in')
                }
                if (t >= c2) {
                    $(".con2").addClass('in')
                }
                if (t >= c1) {
                    $(".con1").addClass('in')
                }
                var dhm = $("#j-module-table").offset().top - t;
                if (t >= c5) {
                    $("#j-module-nav").show();
                    if (dhm < 250) {
                        $("#j-module-nav").css({ top: "250px" })
                    }
                    if (dhm > 250) {
                        $("#j-module-nav").css({ top: dhm + "px" })
                    }
                    if (dhm < -580) {
                        $("#j-module-nav").css({ top: (dhm + 830) + "px", "z-index": "2" })
                    }
                }
                if (t < c5) {
                    $("#j-module-nav").hide();
                }
                if (t > $("#j-module-table").offset().top - 102) {
                    $("#j-module-t").show().css({ position: 'fixed' });
                }

                if (t < $("#j-module-table").offset().top - 102) {
                    $("#j-module-t").hide().css({ position: 'relative' });
                }

                if (t >= c6 + 350) {
                    $("#j-module-nav").hide();
                    $("#j-module-t").hide().css({ position: 'relative' });
                }
                if (t > $("#module-sec-01").offset().top - 200) {
                    $("#j-module-nav a:eq(0)").addClass('active').siblings('').removeClass('active')
                }
                if (t > $("#module-sec-02").offset().top - 200) {
                    $("#j-module-nav a:eq(1)").addClass('active').siblings('').removeClass('active')
                }
                if (t > $("#module-sec-03").offset().top - 200) {
                    $("#j-module-nav a:eq(2)").addClass('active').siblings('').removeClass('active')
                }
                if (t > $("#module-sec-04").offset().top - 200) {
                    $("#j-module-nav a:eq(3)").addClass('active').siblings('').removeClass('active')
                }
                if (t > $("#module-sec-05").offset().top - 200) {
                    $("#j-module-nav a:eq(4)").addClass('active').siblings('').removeClass('active')
                }
                if (t > $("#module-sec-05").offset().top - 160) {
                    $("#j-module-nav a:eq(5)").addClass('active').siblings('').removeClass('active')
                }
                if (t > $("#module-sec-05").offset().top - 120) {
                    $("#j-module-nav a:eq(6)").addClass('active').siblings('').removeClass('active')
                }
            });
            $("#j-module-nav a").click(function () {
                var go = $(this).index() + 1;
                $(this).addClass('active').siblings('').removeClass('active')
                var top = $("#module-sec-0" + go).offset().top - 190;
                if (go <= 5) {
                    $('body,html').animate({
                        scrollTop: top
                    }, 500);
                }
                if (go > 5) {
                    $('body,html').animate({
                        scrollTop: $("#module-sec-05").offset().top - 190 + 40 * (go - 5)
                    }, 500);
                }
            });
        })
    </script>
}