@{
    ViewBag.Title = "维构全景 | 全景VR营销";
    ViewBag.ActiveMenu = "Project";
}

@section head {
    <link rel="stylesheet" type="text/css" href="/css/module-qj.css">
    <link rel="stylesheet" type="text/css" href="/css/banner/swiper-3.4.2.min.css" />
    <script src="/js/banner/swiper-3.4.2.min.js" type="text/javascript"></script>
}


<!--轮播-->
<div class="module-banner">
    <div class="swiper-container" id="swiper1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/module-qj/yx-banner1.jpg">
            </div>
            <div class="swiper-slide">
                <img src="/images/module-qj/yx-banner2.jpg">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!--VR全景营销-->
<div class="product-yx-module con1">
    <div class="wrap">
        <div class="title">
            <h1>VR全景营销</h1>
            <h2>
                全景营销可将客户与商家置于同一个营销空间。
                既有实体店面对面的直接，又有线上商城的高效。
            </h2>
        </div>
        <div class="module-con-select">
            <div class="select">
                <div class="select-img">
                    <img src="/images/module-qj/pro-yx1.png">
                    <span>营销技术优势</span>
                </div>
                <p class="ys1">方便 优质 品牌 获利</p>
            </div>
            <div class="select">
                <div class="select-img">
                    <img src="/images/module-qj/pro-yx2.png">
                    <span>平台特色</span>
                </div>
                <p class="ys2">体系 成本 短期 互动</p>
            </div>
            <div class="select">
                <div class="select-img">
                    <img src="/images/module-qj/pro-yx3.png">
                    <span>合作特权</span>
                </div>
                <p class="ys3">最高 品牌 数据 估值</p>
            </div>
            <div class="select">
                <div class="select-img">
                    <img src="/images/module-qj/pro-yx4.png">
                    <span>盈利模式</span>
                </div>
                <p class="ys4">代理 营销 投放 增值</p>
            </div>
        </div>
    </div>
</div>
<!--营销技术优势-->
<div class="product-yx-module bg con2" id="m5">
    <div class="wrap">
        <div class="title">
            <h1>营销技术优势</h1>
            <h2>方便 优质 品牌 获利</h2>
        </div>
        <div class="merit-wrap">
            <div class="module-con-merit">
                <div class="merit-box">
                    <div class="merit m-bg1">
                        <div class="merit-con">
                            <p>最佳体验</p>
                            <span>传统的跨屏互动需要下载APP才能够进行多样式互动，严重限制了用户的体验感，维构全景可直接在全景里直接进行互动，同时可以沉浸体验。</span>
                        </div>
                    </div>
                </div>
                <div class="merit-box">
                    <div class="merit m-bg2">
                        <div class="merit-con">
                            <p>最佳入口</p>
                            <span>在全景漫游体验中，弹出360°产品智能展示，提供产品详情、加入购物车、预约预定等功能。还原真实购物场景，无死角浏览产品，让顾客享受购物。</span>
                        </div>
                    </div>
                </div>
                <div class="merit-box">
                    <div class="merit m-bg3">
                        <div class="merit-con">
                            <p>最佳品牌推广</p>
                            <span>航拍全景+地面全景，沉浸式交互体验，助力品牌形象提升。在全景中说故事、说发展、说目标、说情怀，这对于全景品牌营销有着天然的可适用性。</span>
                        </div>
                    </div>
                </div>
                <div class="merit-box">
                    <div class="merit m-bg4">
                        <div class="merit-con">
                            <p>最精准回报</p>
                            <span>VR全景漫游展示，全方位身临其境，实时获取精准客户反馈，将线上、线下联动传播效果充分延伸，给商家带来直观口碑，提高流量、效益。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--维构全景特色-->
<div class="product-yx-module con3" id="m1">
    <div class="wrap">
        <div class="title">
            <h1>维构全景特色</h1>
            <h2>体系 成本 短期 互动</h2>
            <span>
                业内<strong>70%</strong>VR全景平台搭建技术<strong>源于维构</strong><br/>
                平台直接购买、独立运营、无需代理、无区域限制、可招代理商。
            </span>
        </div>
        <div class="pro-m1">
            <div class="pro-m1-box1">
                <div class="box-img">
                    <img src="/images/module-qj/pro-yx6.png">
                </div>
                <div class="box-con">
                    <p>插件营销 驱动未来</p>
                    <span>维构VR全景平台独创近百款应用插件，卡券、积分、红包三大激励体系融合，为商家和活动方提供业内最多的应用。</span>
                </div>
            </div>
            <div class="pro-m1-box2">
                <div class="box-img">
                    <img src="/images/module-qj/pro-yx7.png">
                </div>
                <div class="box-con">
                    <p>独立系统 自由定价</p>
                    <span>合作商购买维构VR全景管理系统后拥有独立经营权，可开设无数个商家账号，迅速回本。同时拥有独立定价权。</span>
                </div>
            </div>
            <div class="pro-m1-box3">
                <div class="box-img">
                    <img src="/images/module-qj/pro-yx8.png">
                </div>
                <div class="box-con">
                    <p>广告投放 异业联盟</p>
                    <span>维构VR全景具备强大的广告投放功能。平台运营方可以将平台相关广告同步到商家营销页面进行异业联盟，充分利用所有已经布置点位。</span>
                </div>
            </div>
            <div class="pro-m1-box4">
                <div class="box-img">
                    <img src="/images/module-qj/pro-yx9.png">
                </div>
                <div class="box-con">
                    <p>行业方案 资源匹配</p>
                    <span>维构全景针对重点行业推出具体行业解决方案模块包括：旅游、电商、地产、学校等行业方案，帮助合作商匹配大型客户。</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--合作商特权-->
<div class="product-yx-module bg con4" id="qx">
    <div class="wrap">
        <div class="title">
            <h1>合作商特权</h1>
            <h2>最高 品牌 数据 估值</h2>
        </div>
        <div class="yx-w">
            <img src="/images/module-qj/pro-yx5.png">
            <div class="module-yx1">
                <span>拥有平台最高权限</span>
                <span>可以打造自己品牌</span>
                <span>无区域限制</span>
                <span>可招收代理</span>
                <span>享受全国广告投放</span>
                <span>拥有项目所有权</span>
                <span>享受项目估值</span>
                <span>获得风投青睐</span>
                <span>商家和设备接入数量无限</span>
            </div>
        </div>

    </div>
</div>
<!--盈利模式-->
<div class="product-yx-module con5">
    <div class="wrap">
        <div class="title">
            <h1>盈利模式</h1>
            <h2>代理 营销 投放 增值</h2>
            <span>成为维构合作商，将拥有自主品牌的全景漫游平台。</span>
        </div>
        <div class="module-yx2">
            <div class="module-yx2-box">
                <div class="box-img">
                    <p>代理费用</p>
                    <img src="/images/module-qj/pro-yx10.png">
                </div>
                <div class="con">
                    <span>平台购买者拥有最高系统权限，可<strong>开设</strong>无数个会员<strong>账号</strong>，同时可以招募区域<strong>代理商</strong>。通常一个区域代理费用在<strong>3万-10万</strong>不等，根据不同级别的代理商分配不同数量的商家账号。</span>
                </div>
            </div>
            <div class="module-yx2-box">
                <div class="box-img">
                    <p>商家营销费用</p>
                    <img src="/images/module-qj/pro-yx11.png">
                </div>
                <div class="con">
                    <span>很多维构合作商拥有大量线下商户资源。基于<strong>平台</strong>可以开设无数个账号，通常业内较为合理的单个账号销售价格为<strong>3000元</strong>人民币，如果包括活动策划，费用将在<strong>5000元-15000元</strong>浮动。</span>
                </div><strong></strong>
            </div>
            <div class="module-yx2-box">
                <div class="box-img">
                    <p>广告投放效益</p>
                    <img src="/images/module-qj/pro-yx12.png">
                </div>
                <div class="con">
                    <span>所有销售出去用来做商户营销的硬件，在开屏以及内置的插件部分有专门区域可以进行<strong>广告</strong>投放的，运营商可以根据广告主需求进行<strong>精确</strong>的广告<strong>投放</strong>。</span>
                </div>
            </div>
            <div class="module-yx2-box">
                <div class="box-img">
                    <p>增值服务</p>
                    <img src="/images/module-qj/pro-yx13.png">
                </div>
                <div class="con">
                    <span>由于维构全景平台购买后可以<strong>开设</strong>无数个商家<strong>用户</strong>，众多原有主营为招商业务的合作商，会选择将维构全景营销作为增值服务<strong>赠送</strong>给代理商，这样就大大<strong>促进</strong>原有主营业务的<strong>招商</strong>工作。</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var mySwiper = new Swiper('#swiper1', {
            direction: 'horizontal',
            loop: true,
            pagination: '#swiper1 .swiper-pagination',
            autoplay: 5000,
            paginationClickable: true,
        });
        var d_t = $(window).height() - 100;
        var srcoll_h4 = $("#m5").offset().top - d_t,
            srcoll_h5 = $("#m1").offset().top - d_t,
            srcoll_h6 = $("#qx").offset().top - d_t;
        $(window).bind("scroll", function (event) {
            var scroll_top = $(document).scrollTop();
            if (scroll_top >= srcoll_h4) {
                $("#m5 .merit-box .m-bg1").delay(100).animate({ "top": "0" });
                $("#m5 .merit-box .m-bg2").delay(200).animate({ "top": "0" });
                $("#m5 .merit-box .m-bg3").delay(300).animate({ "top": "0" });
                $("#m5 .merit-box .m-bg4").delay(400).animate({ "top": "0" });
                $("#m5 .merit-box .m-bg5").delay(500).animate({ "top": "0" });
            }
            if (scroll_top >= srcoll_h5) {
                // $(".pro-m1-box1 .box-con").delay(100).addClass("zoomIn").css({"display": "block"});
                // $(".pro-m1-box2 .box-con").delay(200).addClass("zoomIn").css({"display": "block"});
                // $(".pro-m1-box3 .box-con").delay(300).addClass("zoomIn").css({"display": "block"});
                // $(".pro-m1-box4 .box-con").delay(400).addClass("zoomIn").css({"display": "block"});
            }
            if (scroll_top >= srcoll_h6) {
                //$(".yx-w img").addClass("zoomIn").css({"display": "block"});
            }

        });

        $(".pro-m1 .pro-m1-box1").hover(function () {
            $(".pro-m1 .pro-m1-box1").animate({ "top": "-20px", "left": "-20px" }, 300);
        }, function () {
            $(".pro-m1 .pro-m1-box1").animate({ "top": "0", "left": "0" }, 300);
        });
        $(".pro-m1 .pro-m1-box2").hover(function () {
            $(".pro-m1 .pro-m1-box2").animate({ "top": "-20px", "left": "20px" }, 300);
        }, function () {
            $(".pro-m1 .pro-m1-box2").animate({ "top": "0", "left": "0" }, 300);
        });
        $(".pro-m1 .pro-m1-box3").hover(function () {
            $(".pro-m1 .pro-m1-box3").animate({ "top": "20px", "left": "-20px" }, 300);
        }, function () {
            $(".pro-m1 .pro-m1-box3").animate({ "top": "0", "left": "0" }, 300);
        });
        $(".pro-m1 .pro-m1-box4").hover(function () {
            $(".pro-m1 .pro-m1-box4").animate({ "top": "20px", "left": "20px" }, 300);
        }, function () {
            $(".pro-m1 .pro-m1-box4").animate({ "top": "0", "left": "0" }, 300);
        });
        $(function () {
            var d_t = $(window).height() - 100;
            $(".product-yx-module").each(function () {
                if ($(this).offset().top < d_t) {
                    $(this).addClass('in')
                }
            })
            var c1 = $(".con1").offset().top - d_t,
                c2 = $(".con2").offset().top - d_t,
                c3 = $(".con3").offset().top - d_t,
                c4 = $(".con4").offset().top - d_t,
                c5 = $(".con5").offset().top - d_t;
            $(window).scroll(function (event) {
                var t = $(document).scrollTop();
                if (t >= c5) {
                    $(".con5").addClass('in')
                }
                if (t >= c4) {
                    $(".con4").addClass('in')
                }
                if (t >= c3) {
                    $(".con3").addClass('in')
                }
                if (t >= c2) {
                    $(".con2").addClass('in')
                }
                if (t >= c1) {
                    $(".con1").addClass('in')
                }
            });
        })
    </script>
}