@{
    ViewBag.Title = "维构全景 | 产品介绍";
    ViewBag.ActiveMenu = "Product";
}

<!--轮播-->
<div class="pro-banner">
    <div class="wrap">
        <div class="banner-l">
            <h1>维构全景</h1>
            <span>一款满足你全方位需求的VR全景制作软件，一键安装快速上手，自主研发18大创新功能，一键上传云端，并适配各种移动终端设备。让你快速实现VR红利期变现</span>
            <a href="http://user.vgoyun.com" target="_blank">立即体验</a>
        </div>
        <div class="banner-r">
            <span>
                <img src="/images/product/banner-r.png">
            </span>
        </div>
    </div>
</div>
<!--什么是维构VR全景漫游系统-->
<div class="pro-module con1">
    <div class="wrap">
        <div class="vr-systems">
            <div class="vr-systems-l">
                <h3>五年全景制作</h3>
                <p>
                    支持陀螺仪操作、自动导航浏览、深度自定义开发
                    分层展示超高清全景、苹果及安卓移动设备观看等
                </p>
            </div>
            <div class="vr-systems-r">
                <h2>[什么是维构VR全景漫游系统]</h2>
                <div class="con">
                    <span><strong>维构</strong>全景系统是由维构科技(福建)有限公司利用3D全景技术与虚拟现实(VR)技术构建的国内独特优势的全景和虚拟现实服务平台系统。</span>
                    <span>
                        维构科技借多年的互联网平台产品积累，将全景展示、门户系统、移动建站、整合营销等一整套功能进行深度整合，打造出一款注定要颠覆传统互联网的创新平台-- 维构全景系统平台。
                    </span>
                    <span>
                        维构全景项目旨在为商户提供一整套属于自己VR全景系统，该系统可无缝植入商户的网站中，可上传并生成全景图，同时可以开出无数的账号供其他人同时使用。
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--维构全景独特性-->
<div class="pro-module bg con2">
    <div class="wrap">
        <div class="title">
            <h3>维构全景独特性</h3>
        </div>
        <div class="td">
            <span><img src="/images/product/td-1.png"></span>
            <span class="t1"><img src="/images/product/td-2.png"></span>
            <span class="t2"><img src="/images/product/td-3.png"></span>
            <span class="t3"><img src="/images/product/td-4.png"></span>
            <span class="t4"><img src="/images/product/td-5.png"></span>
            <span class="t5"><img src="/images/product/td-6.png"></span>
        </div>
    </div>
</div>
<!--维构全景优势-->
<div class="pro-module con3" id="ys-w">
    <div class="wrap">
        <div class="title">
            <h3>维构全景优势</h3>
        </div>
        <div class="ys">
            <div class="ys-l">
                <p>
                    自主研发数十项创新功能<br/>
                    专业技术保驾护航<br/>
                    快速制作720度VR全景漫游<br/>
                    7x24在线服务支持
                </p>
                <span>
                    维构全景是一套全景互动漫游系统，B/S架构软件平台；<br/>
                    可快速搭建全景VR漫游展示平台，<strong>丰富的插件</strong>功能满足个性化需求，支持上架独立的APP公众号。
                </span>
            </div>
            <div class="ys-r">
                <img src="/images/product/ys-bg.png">
                <div class="text1">
                    <p>APP/微信第三方对接</p>
                    <span>原生开发 无缝对接</span>
                </div>
                <div class="text2">
                    <p>跨平台展示</p>
                    <span>一次发布PC/移动同步展示</span>
                </div>
                <div class="text3">
                    <p>VR硬件支持</p>
                    <span>智能VR 无缝对接</span>
                </div>
                <div class="text4">
                    <p>智能化管理后台</p>
                    <span>一键生成全景链接，二维码，快速分享</span>
                </div>

                </span>
            </div>
        </div>
    </div>
</div>
<!--应用场景-->
<div class="pro-module bg con4">
    <div class="wrap">
        <div class="title">
            <h3>应用场景</h3>
        </div>
        <div class="cj">
            <div class="cj-box">
                <div class="con">
                    <p>政务服务</p>
                    <span>通过VR云实现政务服务场景可视化，包括政务导览、政务展示、城市规划展览展示、城市形象宣传航拍、城市建设成果汇报等。</span>
                </div>
                <div class="box-bg">
                    <img src="/images/product/cj1.jpg">
                </div>
            </div>
            <div class="cj-box">
                <div class="con">
                    <p>行业服务</p>
                    <span>VR云可应用到房产、汽车、旅游、家居、酒店、娱乐、商场等720度全景展示。</span>
                </div>
                <div class="box-bg">
                    <img src="/images/product/cj2.jpg">
                </div>
            </div>
            <div class="cj-box">
                <div class="con">
                    <p>企业服务</p>
                    <span>VR云可快速将你的企业以720°3D全景的形式搬到互联网上、微信上，让你足不出户，彰显企业实力，促进销售转化。</span>
                </div>
                <div class="box-bg">
                    <img src="/images/product/cj3.jpg">
                </div>
            </div>
            <div class="cj-box">
                <div class="con">
                    <p>创业服务</p>
                    <span>VR云拥有完善的全景创业体系，通过我们提供的技术培训、案例输出、市场指导让你快速通过VR全景变现。</span>
                </div>
                <div class="box-bg">
                    <img src="/images/product/cj4.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<!--基础功能展示-->
<div class="pro-module con5">
    <div class="wrap">
        <div class="title">
            <h3>基础功能展示</h3>
        </div>
        <div class="gn-show">
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m1"></div>
                    <div class="merit-con">
                        <p>全局开关</p>
                        <span>作品概述 全景功能开启<br>云端上传 离线导出</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m2"></div>
                    <div class="merit-con">
                        <p>自定义LOGO</p>
                        <span>支持上传自己的LOGO，<br>并可加链接</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m3"></div>
                    <div class="merit-con">
                        <p>电话/链接</p>
                        <span>支持增加电话和链接图标，<br>简单实用</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m4"></div>
                    <div class="merit-con">
                        <p>基础信息</p>
                        <span>支持全景项目标题、介<br>绍信息添加修改</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m5"></div>
                    <div class="merit-con">
                        <p>上传云端</p>
                        <span>支持一键上传云端，生成网址链接<br>和二维码，快速分享</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m6"></div>
                    <div class="merit-con">
                        <p>导出作品</p>
                        <span>支持导出独立的全景项目文<br>件夹，多终端传播</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m7"></div>
                    <div class="merit-con">
                        <p>初始视角</p>
                        <span>支持可视化显示初始场景<br>角度，所见即所得</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m8"></div>
                    <div class="merit-con">
                        <p>热点按钮</p>
                        <span>支持图片、视频、超链接<br>等智能化热点</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m9"></div>
                    <div class="merit-con">
                        <p>全景特效</p>
                        <span>支持全景场景下雨、下雪、<br>下红包特效，效果更炫</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m10"></div>
                    <div class="merit-con">
                        <p>背景音乐</p>
                        <span>支持全景项目背景<br>音乐自定义上传</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m11"></div>
                    <div class="merit-con">
                        <p>电子沙盘</p>
                        <span>支持添加平面图快速<br>全景点导引</span>
                    </div>
                </div>
            </div>
            <div class="merit-box">
                <div class="merit">
                    <div class="merit-img m12"></div>
                    <div class="merit-con">
                        <p>广告遮罩</p>
                        <span>支持全景场景底部和顶部<br>自定义广告图片</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--特色功能展示-->
<div class="pro-module bg con6">
    <div class="wrap">
        <div class="title">
            <h3>特色功能展示</h3>
            <span>维构全景集合了VR核心的功能，B/S开发模式更是在体验方面达到了行业的高水准 让用户轻松在全景中享受维构VR全景平台的强大功能</span>
        </div>
        <div class="ts-show">
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts1"></i>
                    <div class="box-text">
                        <span>支持VR场景自动漫游支持VR眼镜漫游</span>
                    </div>
                </div>
                <p>自动漫游</p>
            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts2"></i>
                    <div class="box-text">
                        <span>场景方向漫游切换缩略图和地图场景切换</span>
                    </div>
                </div>
                <p>场景切换</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts3"></i>
                    <div class="box-text">
                        <span>可设置全景地理位置平面图/地图导览支持</span>
                    </div>
                </div>
                <p>地图功能</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts4"></i>
                    <div class="box-text">
                        <span>可对场景进行评论说说可增加转发曝光率</span>
                    </div>
                </div>
                <p>说一说互动</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts5"></i>
                    <div class="box-text">
                        <span>个性化UI界面导航/LOGO/营销挂件</span>
                    </div>
                </div>
                <p>自定义皮肤</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts6"></i>
                    <div class="box-text">
                        <span>VR内展示店铺介绍增加用户互动粘性</span>
                    </div>
                </div>
                <p>同步店铺展示</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts7"></i>
                    <div class="box-text">
                        <span>可生成二维码支持应用二维码分享</span>
                    </div>
                </div>
                <p>二维码分享</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts8"></i>
                    <div class="box-text">
                        <span>支持VR内嵌入产品页面提高体验式购物转化率</span>
                    </div>
                </div>
                <p>电商功能</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts9"></i>
                    <div class="box-text">
                        <span>全景寻宝，限时促销VR互动活动提升转化</span>
                    </div>
                </div>
                <p>营销插件</p>

            </div>
            <div class="ts-box">
                <div class="ts-box-f">
                    <i class="ts10"></i>
                    <div class="box-text">
                        <span>多媒体融合展示让使用人群更广泛</span>
                    </div>
                </div>
                <p>电子相册</p>

            </div>
        </div>
    </div>
</div>
<!--维构全景前景-->
<div class="pro-module con7">
    <div class="wrap">
        <div class="title">
            <h3>维构全景前景</h3>
            <span>
                商家申请入驻，独有720°全景VR漫游展示，给商家带来更直观的口碑
                VR互动营销模式，给用户带来多元化的服务，同时也能提高平台的流量与收益 。
            </span>
        </div>
        <div class="qj-show">
            <div class="qj-box">
                <div class="qj1"></div>
                <p>导流</p>
            </div>
            <div class="qj-box">
                <div class="qj2"></div>
                <p>客单价</p>
            </div>
            <div class="qj-box">
                <div class="qj3"></div>
                <p>回头率</p>
            </div>
            <div class="qj-box">
                <div class="qj4"></div>
                <p>拉新</p>
            </div>

        </div>
    </div>
</div>
<!--项目支持-->
<div class="pro-module bg con8">
    <div class="wrap">
        <div class="title">
            <h3>项目支持</h3>
        </div>
        <div class="zc">
            <div class="zc-box z1">
                <div class="zc-box-img">
                    <img src="/images/product/zc-1.png">
                </div>
                <p>阿里巴巴旗下云数据支持</p>
                <span class="c1">安全、稳定、快速</span>
            </div>
            <div class="zc-box z2">
                <div class="zc-box-img">
                    <img src="/images/product/zc-2.png">
                </div>
                <p>VR全景三大软件专利获得者</p>
                <span class="c2">专注、创新、实力</span>
            </div>
            <div class="zc-box z3">
                <div class="zc-box-img">
                    <img src="/images/product/zc-3.png">
                </div>
                <p>金牌工程师售后服务</p>
                <span class="c3">贴心、专业、无忧</span>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="/css/themes/merit-ico.css">
    <link rel="stylesheet" type="text/css" href="/css/product.css">

    <script type="text/javascript">
        var d_t = $(window).height() - 100;
        var srcoll_h2 = $(".td").offset().top - d_t,
            srcoll_h3 = $("#ys-w").offset().top - d_t;
        $(window).bind("scroll", function (event) {
            var scroll_top = $(document).scrollTop();
            if (scroll_top >= srcoll_h2) {
                $(".td .t1").delay(300).fadeIn(1000);
                $(".td .t2").delay(100).fadeIn(1000);
                $(".td .t3").delay(200).fadeIn(1000);
                $(".td .t4").delay(400).fadeIn(1000);
                $(".td .t5").delay(500).fadeIn(1000);
            }
            if (scroll_top >= srcoll_h3) {
                // $(".ys .ys-l").animate({"left":"0px"});
                // $(".ys .ys-r").animate({"right":"0px"});
            }
        });
        $(function () {
            $(".pro-banner").addClass('in')
            var d_t = $(window).height() - 100;
            $(".pro-module").each(function () {
                if ($(this).offset().top < d_t) {
                    $(this).addClass('in')
                }
            })
            var c1 = $(".con1").offset().top - d_t,
              c2 = $(".con2").offset().top - d_t,
              c3 = $(".con3").offset().top - d_t,
              c4 = $(".con4").offset().top - d_t,
              c5 = $(".con5").offset().top - d_t,
              c6 = $(".con6").offset().top - d_t,
              c7 = $(".con7").offset().top - d_t,
              c8 = $(".con8").offset().top - d_t;
            $(window).scroll(function (event) {
                var t = $(document).scrollTop();
                if (t >= c8) {
                    $(".con8").addClass('in')
                }
                if (t >= c7) {
                    $(".con7").addClass('in')
                }
                if (t >= c6) {
                    $(".con6").addClass('in')
                }
                if (t >= c5) {
                    $(".con5").addClass('in')
                }
                if (t >= c4) {
                    $(".con4").addClass('in')
                }
                if (t >= c3) {
                    $(".con3").addClass('in')
                }
                if (t >= c2) {
                    $(".con2").addClass('in')
                }
                if (t >= c1) {
                    $(".con1").addClass('in')
                }
            });
        })
    </script>
}

