@{
    ViewBag.Title = "维构全景 | 系统定制";
    ViewBag.ActiveMenu = "Buy";
}

<!--轮播-->
<div class="pro-dz-banner">
    <div class="banner-dz-title">
        <h1 class="title-h">实力团队<i></i>量身定制</h1>
        <div class="tit-img"><img src="/images/module-qj/dz-banner-t.png"></div>
        <p class="title-p">
            不论是平台系统，还是功能插件
            皆可专属定制  让您与众不同
        </p>
    </div>
</div>
<!--贴心的技术团队-->
<div class="product-yx-module con1">
    <div class="wrap">
        <div class="title">
            <h1>我们是您贴心的技术团队</h1>
            <span>专业的Unity3D工程师、net工程师、java工程师、php工程师未定定制开发</span>
        </div>
        <div class="dz1">
            <a href=""><span><i></i>定制热线：400-0058-720</span></a>
        </div>
    </div>
</div>
<!--定制流程-->
<div class="product-yx-module con2">
    <div class="wrap">
        <div class="title">
            <h1>定制流程</h1>
        </div>
        <div class="dz2">
            <img src="/images/module-qj/dz-1.png">
            <img src="/images/module-qj/dz-2.png">
            <img src="/images/module-qj/dz-3.png">
            <img src="/images/module-qj/dz-4.png">
            <img src="/images/module-qj/dz-5.png">
            <img src="/images/module-qj/dz-6.png">
            <img src="/images/module-qj/dz-7.png">
        </div>
    </div>
</div>
<!--网站定制案例-->
<div class="product-yx-module bg con3">
    <div class="wrap">
        <div class="title">
            <h1>网站定制案例</h1>
        </div>
        <div class="dz3">
            <div class="dz3-box">
                <div class="dz3-box-img">
                    <img src="/images/module-qj/dz-food.jpg">
                </div>
                <div class="dz3-con">
                    <a href="#">
                        <p>VR云店</p>
                        <span>VR云店门店、餐饮全景发布平台，平台承接全国各地餐饮、门店VR全景拍摄任务，平台拥有各种风格全景效果图及720、360全景。用户可在观看全景时候进行订餐、购买等。</span>
                    </a>
                </div>
            </div>
            <!-- <div class="dz3-box">
                <div class="dz3-box-img">
                    <img src="/images/module-qj/dz-house.jpg">
                </div>
                <div class="dz3-con">
                    <a href="#">
                        <p>千互全景</p>
                        <span>
                            千互全景是优质高效的效果图全景图库，拥有各种风格全景效果图及720、360全景。领先的全景自主制作平台，用户可进行720全景巡游、全景视频、全景环物的制作与发布。
                        </span>
                    </a>
                </div>
            </div> -->
            <div class="dz3-box">
                <div class="dz3-box-img">
                    <img src="/images/module-qj/dz-hotel.jpg">
                </div>
                <div class="dz3-con">
                    <a href="#">
                        <p>维构家居</p>
                        <span>
                            维构家居模板是优质酒店、民宿的VR全景图库，拥有各种风格酒店720、360全景。优秀的的全景平台设计风格，用户可直接拿走并做相应调整即可使用，制作与发布酒店、民宿全景的好选择。
                        </span>
                    </a>
                </div>
            </div>
            <!-- <div class="dz3-box">
                <div class="dz3-box-img">
                    <img src="/images/module-qj/dz-travel.jpg">
                </div>
                <div class="dz3-con">
                    <a href="#">
                        <p>秀丽中国</p>
                        <span>
                            秀丽中国是展示国内众多旅游景点全景图库，是专业的全景摄影爱好者发布作品和相互沟通的平台，商机可在线预约拍摄，摄影师可在平台分到当地拍摄任务，这是商户和摄影师共赢的平台。
                        </span>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--插件定制案例-->
<div class="product-yx-module con4">
    <div class="wrap">
        <div class="title">
            <h1>插件定制案例</h1>
        </div>
        <div class="dz4-wrap">
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>红包卡券</h5>
                        <div class="dz4-con">
                            <span>
                                1.可在任意场景内任意位置放置红包卡券,用户浏览时可点击领取;
                                <br />
                                <br />2.可设置红包卡券数量、金额、中奖概率等;
                                <br />
                                <br />3.可以在任意场景内放置任意数量的红包卡券。
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>3D环物</h5>
                        <div class="dz4-con">
                            <span>
                                1.三维效果产品图像，实现网上360度产品展示；
                                <br />
                                <br /> 2.通过一个360°展示就可以观看产品每个细节；
                                <br />
                                <br /> 3.增大用户体验度，延长客户的滞留时间，增大成交几率。
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>微信打赏</h5>
                        <div class="dz4-con">
                            <span>
                                用户终端浏览时可点击全景场景内点击【打赏】功能按钮，通过微信支付通道为该全景项目支付赏金，打赏的奖金直接进入管理后台设置的微信商户账号。 【打赏】功能可以鼓励平台作者更好的创作发布全景项目，平台可与全景作者进行分账，作为全景平台运营的一种盈利模式。
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>本地存储</h5>
                        <div class="dz4-con">
                            <span>
                                目前存储支持七牛、阿里云oss两种方式。CDN存储的优势是访问快、带宽成本小。但涉及到对内容私密性有着较高的要求，需要系统部署在内网，就要求内网开设图片存储服务器，因此本地存储功能尤为重要。本地存储功能可实现： 1、自定义存储盘 2、新增存储盘 3、自定义存储访问。
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>场景贴图/贴片</h5>
                        <div class="dz4-con">
                            <span>
                                视频（图片）可以“贴”在场景内任意位置（或物体），
                                <br />
                                <br />并可调整大小、角度、视角等，
                                <br />
                                <br />点击视频即可不通过播放器直接在场景内播放与场景。
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>广告展示</h5>
                        <div class="dz4-con">
                            <span>
                                1.首页广告位，轮播图(幻灯片)、图文广告栏；                              
                                <br />
                                <br />2.全景图片页面广告位，作者页图文广告栏；
                                <br />
                                <br />3.全景视频页面广告位 ；
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>小游戏</h5>
                        <div class="dz4-con">
                            <span>
                                1.在全景里添加小游戏延长用户滞留时间，促使用户分享朋友圈；
                                <br />
                                <br />2.营销小游戏，可结合【红包】功能插件为商家流进行客户引流；
                                <br />
                                <br />3.可在小游戏里设置任意礼品、礼券等内容，中奖率可后台设置 。
                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dz4">
                <div class="merit-box">
                    <div class="merit">
                        <h5>便民服务</h5>
                        <div class="dz4-con">
                            <span>
                                用户在观看全景时候可在线预约订单、预定酒店、团购、点餐等，各类生活服务应有尽有，是用户的好选择，
                                <br />
                                <br />用户在陶醉沉浸的同时可以在线消费，一定程度上增加销售可能性。

                            </span>
                            <div class="btn">
                                <a href="#">暂无演示</a>
                                <a href="#">立即定制</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" type="text/css" href="/css/module-qj.css">

    <script type="text/javascript">
        $(function () {
            $(".pro-dz-banner").addClass('in')
            var d_t = $(window).height() - 100;
            $(".product-yx-module").each(function () {
                if ($(this).offset().top < d_t) {
                    $(this).addClass('in')
                }
            })
            var c1 = $(".con1").offset().top - d_t,
                c2 = $(".con2").offset().top - d_t,
                c3 = $(".con3").offset().top - d_t,
                c4 = $(".con4").offset().top - d_t;
            $(window).scroll(function (event) {
                var t = $(document).scrollTop();
                if (t >= c4) {
                    $(".con4").addClass('in')
                }
                if (t >= c3) {
                    $(".con3").addClass('in')
                }
                if (t >= c2) {
                    $(".con2").addClass('in')
                }
                if (t >= c1) {
                    $(".con1").addClass('in')
                }
            });
        })
    </script>
}