/*首页*/
.module-con-merit .merit .m1{
	background: url(../../images/module-merit/1.png) no-repeat;
}
.module-con-merit .yes .merit .m1{
	background: url(../../images/module-merit/1-1.png) no-repeat;
}
.module-con-merit .merit .m2{
	background: url(../../images/module-merit/2.png) no-repeat;
}
.module-con-merit .yes .merit .m2{
	background: url(../../images/module-merit/2-2.png) no-repeat;
}
.module-con-merit .merit .m3{
	background: url(../../images/module-merit/3.png) no-repeat;
}
.module-con-merit .yes .merit .m3{
	background: url(../../images/module-merit/3-3.png) no-repeat;
}
.module-con-merit .merit .m4{
	background: url(../../images/module-merit/4.png) no-repeat;
}
.module-con-merit .yes .merit .m4{
	background: url(../../images/module-merit/4-4.png) no-repeat;
}
.module-con-merit .merit .m5{
	background: url(../../images/module-merit/5.png) no-repeat;
}
.module-con-merit .yes .merit .m5{
	background: url(../../images/module-merit/5-5.png) no-repeat;
}
.module-con-merit .merit .m6{
	background: url(../../images/module-merit/6.png) no-repeat;
}
.module-con-merit .yes .merit .m6{
	background: url(../../images/module-merit/6-6.png) no-repeat;
}
.module-con-merit .merit .m7{
	background: url(../../images/module-merit/7.png) no-repeat;
}
.module-con-merit .yes .merit .m7{
	background: url(../../images/module-merit/7-7.png) no-repeat;
}
.module-con-merit .merit .m8{
	background: url(../../images/module-merit/8.png) no-repeat;
}
.module-con-merit .yes .merit .m8{
	background: url(../../images/module-merit/8-8.png) no-repeat;
}

.module-con-merit .merit .m9{
	background: url(../../images/module-merit/9.png) no-repeat;
}
.module-con-merit .yes .merit .m9{
	background: url(../../images/module-merit/9-9.png) no-repeat;
}
/*产品介绍页*/
.gn-show .merit .m1{
	background: url(../../images/product/product-merit/1.png) no-repeat;
}
.gn-show .merit-box:hover .m1{
	background: url(../../images/product/product-merit/1-1.png) no-repeat;
}
.gn-show .merit .m2{
	background: url(../../images/product/product-merit/2.png) no-repeat;
}
.gn-show .merit-box:hover .m2{
	background:url(../../images/product/product-merit/2-1.png) no-repeat;
}
.gn-show .merit .m3{
	background: url(../../images/product/product-merit/3.png) no-repeat;
}
.gn-show .merit-box:hover .m3{
	background:url(../../images/product/product-merit/3-1.png) no-repeat;
}
.gn-show .merit .m4{
	background: url(../../images/product/product-merit/4.png) no-repeat;
}
.gn-show .merit-box:hover .m4{
	background:url(../../images/product/product-merit/4-1.png) no-repeat;
}
.gn-show .merit .m5{
	background: url(../../images/product/product-merit/5.png) no-repeat;
}
.gn-show .merit-box:hover .m5{
	background: url(../../images/product/product-merit/5-1.png) no-repeat;
}
.gn-show .merit .m6{
	background: url(../../images/product/product-merit/6.png) no-repeat;
}
.gn-show .merit-box:hover .m6{
	background:url(../../images/product/product-merit/6-1.png) no-repeat;
}
.gn-show .merit .m7{
	background: url(../../images/product/product-merit/7.png) no-repeat;
}
.gn-show .merit-box:hover .m7{
	background:url(../../images/product/product-merit/7-1.png) no-repeat;
}
.gn-show .merit .m8{
	background: url(../../images/product/product-merit/8.png) no-repeat;
}
.gn-show .merit-box:hover .m8{
	background:url(../../images/product/product-merit/8-1.png) no-repeat;
}
.gn-show .merit .m9{
	background: url(../../images/product/product-merit/9.png) no-repeat;
}
.gn-show .merit-box:hover .m9{
	background:url(../../images/product/product-merit/9-1.png) no-repeat;
}

.gn-show .merit .m10{
	background: url(../../images/product/product-merit/10.png) no-repeat;
}
.gn-show .merit-box:hover .m10{
	background:url(../../images/product/product-merit/10-1.png) no-repeat;
}

.gn-show .merit .m11{
	background: url(../../images/product/product-merit/11.png) no-repeat;
}
.gn-show .merit-box:hover .m11{
	background:url(../../images/product/product-merit/11-1.png) no-repeat;
}


.gn-show .merit .m12{
	background: url(../../images/product/product-merit/12.png) no-repeat;
}
.gn-show .merit-box:hover .m12{
	background:url(../../images/product/product-merit/12-1.png) no-repeat;
}


